/* ----------------- Reset styles --------------------- */
a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

/* ------------------------------------------------------- */

body {
  font-family: 'Inter', sans-serif;
  color: #fff;
}

.container {
  max-width: 280px;
  margin: 0 auto;
}

.icon {
  display: block;
  padding: 0;
  margin: 0;
}

/* ======================= HEADER ============================= */

.header {
  background-color: #06071b;
}

.header-section {
  position: relative;
  top: 20px;
  background: linear-gradient(
    90deg,
    rgba(0, 197, 235, 0.3) -1.97%,
    rgba(181, 68, 254, 0.3) 89.43%
  );
}

.header-container {
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
}

.header-menu {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

/* ============================= HERO ======================== */

.hero-section {
  height: 568px;
  background: url(../img/mobail-img/img-bg_hero.png) #06071b center no-repeat;
}

.hero-container {
  padding-top: 100px;
}

.hero-title {
  margin: 0 0 12px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.hero-text {
  margin-bottom: 28px;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}

.hero-list {
  margin-bottom: 40px;
  font-size: 12px;
  font-weight: 400;
}

.hero-item {
  display: flex;
}

.hero-item::before {
  content: '';
  margin-right: 4px;
  display: flex;
  min-width: 18px;
  height: 18px;
  background: url(/img/icons/icons-arrow-hero.svg);
}

.hero-item:not(:last-child) {
  margin-bottom: 8px;
}

.hero-item:nth-child(2n) {
  width: 240px;
}

.hero-button {
  display: block;
  margin: 0 auto;
  padding: 12px 60px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #00c5eb -1.97%, #b544fe 89.43%);
  cursor: pointer;

  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

/*===============================FEATURES=========================*/

.features {
  background: url(/img/mobail-img/Vector\ 2.png) top no-repeat,
    url(/img/mobail-img/Vector\ 1.png) bottom no-repeat;
}
.title-features {
}
.text-features {
}
.img-features {
}
.features-lest {
}
.features-item {
}
.features-item-title {
}
.features-item-subtitle {
}
