/* ----------------- Reset styles --------------------- */
a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

/* ------------------------------------------------------- */

body {
  font-family: 'Inter', sans-serif;
  color: #fff;
}

.container {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.icon {
  display: block;
  padding: 0;
  margin: 0;
}

/* ======================= HEADER ============================= */

.header {
  padding-top: 20px;
  background-color: #06071b;
}

.header-section {
  background: linear-gradient(
    90deg,
    rgba(0, 197, 235, 0.3) -1.97%,
    rgba(181, 68, 254, 0.3) 89.43%
  );
}

.header-container {
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: none;
}

.header-logo {
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.header-menu {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    justify-content: space-between;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container {
    min-width: 768px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
  }

  .header-container {
  }

  .nav-container {
  }
  .header-logo {
  }

  .header-menu {
    display: none;
  }

  .nav-list {
    margin-left: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .nav-item {
    padding: 10px 0;
    font-weight: 400;
    font-size: 12px;
  }
}

/* ============================= HERO ======================== */

.hero-section {
  height: 568px;
  background: url(../img/mobail-img/img-bg_hero.png) #06071b center no-repeat;
}

.hero-container {
  padding-top: 100px;
}

.hero-title {
  margin: 0 0 12px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.hero-text {
  margin-bottom: 28px;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}

.hero-list {
  margin-bottom: 40px;
  font-size: 12px;
  font-weight: 400;
}

.hero-item {
  display: flex;
}

.hero-item::before {
  content: '';
  margin-right: 4px;
  display: flex;
  min-width: 18px;
  height: 18px;
  background: url(../img/icons/icons-arrow-hero.svg);
}

.hero-item:not(:last-child) {
  margin-bottom: 8px;
}

.hero-item:nth-child(2n) {
  width: 240px;
}

.hero-button {
  display: block;
  margin: 0 auto;
  padding: 12px 60px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #00c5eb -1.97%, #b544fe 89.43%);
  cursor: pointer;

  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

@media screen and (min-width: 768px) {
	.hero-section{
		bac
	}


  .hero-container {
    padding-top: 60px;
  }
  .container {
  }
  .hero-title {
  }
  .hero-text {
  }
  .hero-list {
  }
  .hero-item {
  }
  .hero-button {
  }
}

/*===============================FEATURES=========================*/

.features {
  background: url(/img/mobail-img/Vector\ 2.png) top no-repeat,
    url(/img/mobail-img/Vector\ 1.png) bottom no-repeat;

  color: #000;
}

.features-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.title-features {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.text-features {
  margin: 40px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
}

.img-features {
}

.features-list {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.features-item {
  padding-left: 40px;
  position: relative;
}

.features-item::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  background-image: url(../img/icons/icon-gear.svg);
  background-size: cover;
}

.features-item-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42857;
}

.features-item-subtitle {
  font-weight: 500;
  font-size: 12px;
}

/*========================== WATCH ========================*/
.watch {
  background-color: #000;
}

.container-watch {
  padding-top: 40px;
  padding-bottom: 40px;

  background: url(../img/mobail-img/bg-img-section-watch.png) bottom no-repeat;
}

.container {
}

.watch-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.watch-text {
  margin: 24px 0;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #fff;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icon-platform {
}

.image-watch-phone {
}

/*========================= TEAM ===========================*/

.team {
  color: #000;
}

.container-team {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
}

.team-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.team-text {
  margin: 24px 0 28px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item-wrap {
  background-color: rgba(6, 7, 27, 0.8);
  border-radius: 15px;
}

.team-item {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 15px;
  background: linear-gradient(
    310deg,
    rgba(0, 196, 235, 0.301) 0%,
    rgba(180, 68, 254, 0.301) 100%
  );
}

.card-team {
  border-radius: 10px;
}

.card-title {
  margin: 24px 0 12px 0;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.card-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  text-align: center;
  color: #fff;
}

/*================================= Customer ===================*/

.customer {
  color: #000;
}

.container-customer {
}

.container {
}

.customer-title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.customer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.customer-img {
  width: 181px;
  height: 181px;
}

.customer-subtitle {
  margin: 20px 0 12px 0;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.customer-subtext {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
}

.customer-text {
  margin-top: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
}

.customer-text::after {
  content: '';
  margin: 40px auto;
  display: block;
  width: 76px;
  height: 6px;
  background-color: #06071b;
}

/*=============== Footer ====================*/

.footer-section {
  background-color: #06071b;
}

.footer-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: nowrap; */
}

.container {
}

.footer-title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 20px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input {
  border-radius: 5px;
  width: 280px;
  height: 40px;
  padding: 12px 8px;
  border: none;
}

.form-comment {
  width: 280px;
  height: 220px;
}

.button-form {
  padding: 12px 60px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  border: none;
}

.footer-subtitle {
  margin: 40px 0 20px 0;
  font-weight: 500;
  font-size: 20px;
}

.footer-text {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.footer-social {
  margin: 50px 0 40px 0;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.social-item {
}

.social-link {
}

.contact-list {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.contact-item {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.copyright-box {
  border-top: 1px solid #fff;
}

.footer-сopyright {
  padding: 22px 0;
  width: 190px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
}
